{% extends '@KitWeb/layout.html.twig' %}

{% block carousel %}
{#     {% include '@KitWeb/Common/carousel.html.twig' %}#}
{% endblock %}
{% block content %}
<!--内容-->
		<div class="container">
			<div class="line-small">
				<div class="xl12 xm6 margin-small-bottom">
					<a href="http://www.pintuer.com"><img src="{{ asset('static/images/product1.jpg') }}" width="100%" /></a>
				</div>
				<div class="xl6 xm3">
					<a href="http://www.pintuer.com"><img src="{{ asset('static/images/product2.jpg') }}" width="100%" /></a>
				</div>
				<div class="xl6 xm3">
					<a href="http://www.pintuer.com"><img src="{{ asset('static/images/product3.jpg') }}" width="100%" /></a>
				</div>
			</div>
			<br />
			<div class="line-big">
				<div class="xl12 xm8">
					<div class="line-small">
						<div class="xs6">
							<img src="{{ asset('static/images/1.jpg') }}" width="100%" />
							<ul class="list-unstyle height-big padding-top">
								<li><span class="badge bg-red">新闻</span> <a href="http://www.pintuer.com">特大喜讯，我们发布正式版了。</a></li>
								<li><span class="badge bg-main">新闻</span> <a href="http://www.pintuer.com">是一款专业网页前端UI解决方案</a></li>
								<li><span class="badge bg-main">新闻</span> <a href="http://www.pintuer.com">方便个性化、人性化的前端设计方法</a></li>
								<li><span class="badge bg-main">新闻</span> <a href="http://www.pintuer.com">任何初学者都可快速建立美观的页面</a></li>
								<li><span class="badge bg-main">新闻</span> <a href="http://www.pintuer.com">是一款专业网页前端UI解决方案</a></li>
							</ul>
						</div>
						<div class="xs6">
							<img src="{{ asset('static/images/2.jpg') }}" width="100%" />
							<ul class="list-unstyle height-big padding-top">
								<li><span class="badge bg-yellow">新闻</span> <a href="http://www.pintuer.com">特大喜讯，我们发布正式版了。</a></li>
								<li><span class="badge bg-sub">新闻</span> <a href="http://www.pintuer.com">是一款专业网页前端UI解决方案</a></li>
								<li><span class="badge bg-sub">新闻</span> <a href="http://www.pintuer.com">方便个性化、人性化的前端设计方法</a></li>
								<li><span class="badge bg-main">新闻</span> <a href="http://www.pintuer.com">是一款专业网页前端UI解决方案</a></li>
								<li><span class="badge bg-sub">新闻</span> <a href="http://www.pintuer.com">任何初学者都可快速建立美观的页面</a></li>
							</ul>
						</div>
					</div>
					<br />
					<img src="{{ asset('static/images/x.jpg') }}" width="100%" />
					<br />
					<br />
				</div>
				<div class="xl12 xm4">
					<h2 class="bg-main text-white padding">拼图介绍</h2>
					<div class="padding-big bg">
						<ul class="list-media list-underline">
							<li>
								<div class="media media-x">
									<a class="float-left" href="http://www.pintuer.com"><img src="{{ asset('static/images/e1.jpg') }}" class="radius" alt="..."></a>
									<div class="media-body"><strong>网格系统</strong>拼图网络系统采用12列显示，可配置间隔的大小，灵活方便。 <a class="button button-little border-red swing-hover" href="http://www.pintuer.com">查看详情</a></div>
								</div>
							</li>
							<li>
								<div class="media media-x">
									<a class="float-left" href="http://www.pintuer.com"><img src="{{ asset('static/images/e2.jpg') }}" class="radius" alt="..."></a>
									<div class="media-body"><strong>自由灵活</strong>拼图由多年前端经验的设计编程人员开发，在保持代码精简的同时，也让框架更灵活、自由。 <a class="button button-little border-yellow swing-hover" href="http://www.pintuer.com">查看详情</a></div>
								</div>
							</li>
							<li>
								<div class="media media-x">
									<a class="float-left" href="http://www.pintuer.com"><img src="{{ asset('static/images/e3.jpg') }}" class="radius" alt="..."></a>
									<div class="media-body"><strong>方便的自定义配色</strong>拼图可根据项目需要，根据项目自由配色，可使界面丰富多彩。 <a class="button button-little border-red swing-hover" href="http://www.pintuer.com">查看详情</a></div>
								</div>
							</li>
							<li>
								<div class="media media-x">
									<a class="float-left" href="http://www.pintuer.com"><img src="{{ asset('static/images/e4.jpg') }}" class="radius" alt="..."></a>
									<div class="media-body"><strong>自动适配设备</strong>拼图响应式设计，可自动适应手机、平板、电脑等设备，一站解决所有屏幕需求。 <a class="button button-little border-black swing-hover" href="http://www.pintuer.com">查看详情</a></div>
								</div>
							</li>
							<li>
								<div class="media media-x">
									<a class="float-left" href="http://www.pintuer.com"><img src="{{ asset('static/images/e5.jpg') }}" class="radius" alt="..."></a>
									<div class="media-body"><strong>网格系统</strong>拼图网络系统采用12列显示，可配置间隔的大小，灵活方便。 <a class="button button-little border-blue swing-hover" href="http://www.pintuer.com">查看详情</a></div>
								</div>
							</li>
							<li>
								<div class="media media-x">
									<a class="float-left" href="http://www.pintuer.com"><img src="{{ asset('static/images/e6.jpg') }}" class="radius" alt="..."></a>
									<div class="media-body"><strong>方便的自定义配色</strong>拼图可根据项目需要，根据项目自由配色，可使界面丰富多彩。 <a class="button button-little border-green swing-hover" href="http://www.pintuer.com">查看详情</a></div>
								</div>
							</li>
						</ul>
					</div>
					<br />
				</div>
			</div>
		</div>
		<br />
{% endblock %}