{% extends '@KitWeb/layout.html.twig' %}

{% block content %}
<div class="container">
	<div class="line">
        <div class="waterfall" id="container">
            <ul>
                <li class="bg-blue radius">
                    1
                </li>
                <li class="bg-green  radius">
                    2
                </li>
                <li class="bg-yellow  radius">
                    3
                </li>
                <li class="bg-gray radius">
                    4
                </li>
                <li class="bg-main radius">
                    5
                </li>
                <li class="bg-blue radius">
                    1
                </li>
                <li class="bg-green  radius">
                    2
                </li>
                <li class="bg-yellow  radius">
                    3
                </li>
                <li class="bg-gray radius">
                    4
                </li>
                <li class="bg-main radius">
                    5
                </li>
                <li class="bg-blue radius">
                    1
                </li>
                <li class="bg-green  radius">
                    2
                </li>
                <li class="bg-yellow  radius">
                    3
                </li>
                <li class="bg-gray radius">
                    4
                </li>
                <li class="bg-main radius">
                    5
                </li>
                <li class="bg-blue radius">
                    1
                </li>
                <li class="bg-green  radius">
                    2
                </li>
                <li class="bg-yellow  radius">
                    3
                </li>
                <li class="bg-gray radius">
                    4
                </li>
                <li class="bg-main radius">
                    5
                </li>
            </ul>
        </div>
     </div>
</div>
{% verbatim %}
<script type="text/x-handlebars-template" id="waterfall-tpl">
    {{#result}}
        <div class="waterfall-item">
            <img src="{{image}}" width="{{width}}" height="{{height}}" />
        </div>
    {{/result}}
</script>
{% endverbatim %}
{% endblock %}
{% block javascript %}
{{ parent() }}
<script>
var JSON_URI = {{ path("kit_web_news_data") }};
console.log(JSON_URI);
</script>
<script src="{{asset('waterfall/js/handlebars.js')}}"></script>
<script src="{{asset('waterfall/js/waterfall.min.js')}}"></script>
<script src="{{asset('static/js/news.js')}}"></script>
{% endblock %}